mamba-cup-firebase-adminsdk-*.json
.github/
# Excepciones para GitHub Actions
!.github/workflows/
!.github/workflows/*.yml
# Ignora todo en .github excepto workflows
.github/*
!.github/workflows/
!.github/workflows/*.yml


